<%= render :layout => '/layouts/user_layout' do %>
    <div class="container">
        <div class="section">
            <h4 class="header center">Bem-vindo, <%= @current_user.name.split.first %>!</h4>
            <br><br><br>
            <h5 class="header">O que você deseja fazer?</h5>
            <br><br><br>
            <div id="main_actions_user" class="row center">
                <div class="col l4 s12">
                    <%= link_to :create_poll,
                        :class => 'btn-floating btn-large blue' do %>
                        <i class="material-icons">add</i>
                    <% end %>
                    <span>Criar Enquete</span>
                </div>
                <div class="col l4 s12">
                    <%= link_to root_url,
                        :class => 'btn-floating btn-large blue' do %>
                        <i class="material-icons">search</i>
                    <% end %>
                    <span>Buscar Enquetes</span>
                </div>
                <div class="col l4 s12">
                    <%= link_to root_url,
                        :class => 'btn-floating btn-large blue' do %>
                        <i class="material-icons">assignment</i>
                    <% end %>
                    <span>Minhas Enquetes</span>
                </div>
            </div>
        </div>
    </div>
    <br><br>
    <%= render 'admin/creator_permission_list/show' do %>
    <% end %>
    <br><br>
<% end %>