<%= render :layout => '/layouts/user_layout' do %>
<div class="container">
    <br><br>
    <h2 class="header center orange-text">Criação de Enquetes</h2>
    <br><br>
    <div class="row">
        <div class="col s12">
            <ul class="tabs">
                <li class="tab col s3"><a href="#multiplechoice">Objetiva</a></li>
                <li class="tab col s3"><a class="active" href="#discursive">Discursiva</a></li>
          </ul>
        </div>
        <div class="container">
            <br><br>
            <%= form_for :poll, :url => new_poll_path, :html => { multipart: true } do |f| %>
                <div class="row">
                    <div class="col s12 input-field">
                      <%= f.text_field :title %>
                      <%= f.label :title , 'Título' %><br />
                    </div>
                </div>
                <div class="row">
                    <div class="col s12 input-field">
                        <%= f.file_field :poll_avatar %>
                    </div>
                </div>
                <div class="row">
                    <div class="col s12 input-field">
                        <%= f.check_box :privacy %>
                        <%= f.label :privacy, 'Enquete Privada?' %><br />
                    </div>
                </div>
                <div class="row">
                    <div class="col s12 input-field">
                        <%= f.text_field :deadline, class:"datepicker" %>
                        <%= f.label :deadline, 'Data de expiração' %><br />
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                        <%= f.text_area :question, :length => 300, :class => "materialize-textarea" %>
                        <%= f.label :question , 'Pergunta' %><br />
                    </div>
                </div>
                <%= f.hidden_field :user_id, :value => current_user.id %>
                <br><br>
                <div id="multiplechoice" class="col s12">
                        <h4 class="header center blue-text">Insira as alternativas</h4>
                        <br><br>
                        <% (1..6).step(2).each do |i| %>
                            <div class="row">
                                <div class="input-field col s6">
                                    <i class="material-icons prefix">question_answer</i>
                                    <%= f.text_area :multiple_choice, :multiple => true,
                                        :length => 100, :class => "materialize-textarea" %>
                                    <%= f.label :multiple_choice , 'Alternativa ' + i.to_s %><br />
                                </div>
                                <div class="input-field col s6">
                                    <i class="material-icons prefix">question_answer</i>
                                    <%= f.text_area :multiple_choice, :multiple => true,
                                        :length => 100, :class => "materialize-textarea" %>
                                    <%= f.label :multiple_choice , 'Alternativa ' + (i+1).to_s %><br />
                                </div>
                            </div>
                            <br>
                        <% end %>
                        <div class="row center">
                            <%= f.submit 'Enviar', :name => 'objpoll', :class => "btn blue" %>
                        </div>
                </div>
                
                <div id="discursive" class="col s12">
                    <div class="row center">
                        <%= f.submit 'Enviar', :name => 'discpoll', :class => "btn blue" %>
                    </div>
                </div>
                <br><br>
            <% end %>
        </div>
    </div>
</div>
<% end %>